body {
    background-color: #181a1f; 
    color: #e5e5e5;            
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}


h1.text-center {
    color: #f0e68c; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5); 
}


.info-block {
    padding: 30px;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.info-block:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.7);
}


.message-good { 
    background-color: #4caf50; 
    color: #fff; 
}
.message-moderate { 
    background-color: #ffeb3b; 
    color: #000; 
}
.message-unhealthy-sensitive { 
    background-color: #ff9800; 
    color: #fff; 
}
.message-unhealthy { 
    background-color: #f44336; 
    color: #fff; 
}
.message-very-unhealthy { 
    background-color: #9c27b0; 
    color: #fff; 
}
.message-hazardous { 
    background-color: #6a1b9a; 
    color: #fff; 
}

#message-block p {
    transition: background-color 0.3s, color 0.3s;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}


#update-time {
    color: #ffffff; 
    text-shadow: 0 0 3px rgba(0,0,0,0.7);
    font-weight: 500;
    margin-top: 20px;
    font-size: 0.95rem;
}
